:host {
  box-shadow: 2px 2px 4px 0 rgba(91, 91, 92, 0.15);
  display: block;
  float: left;
  height: 100%;
  left: 0 !important;
  overflow: auto;
  position: relative !important;
  right: 0 !important;
  top: 0 !important;
  width: calc(100% - 350px);
  z-index: 1;
}