:host {
  display: block;
  left: 0 !important;
  right: 0 !important;
  position: static !important;
  top: 0 !important;
}

.ctrl-hdr {
  color: #98999B;
  font-family: "Roboto-Medium";
  font-size: 14px;
  padding: 10px 0px;
  width: 200px;
}

.ctrl-cnt {
  align-items: center;
  display: flex;
  color: #63666A;
  width: 200px;
}

.on-off-switch {
	width: 46px;
	height: 24px;
	border-radius: 12px;
	position: relative;
	border: 1px solid #dd0000;
	box-sizing: border-box;
	cursor: pointer;
}

.on-off-switch:before {
	content: '';
	width: 20px;
	height: 18px;
	border-radius: 10px;
	background: #dd0000;
	position: absolute;
	left: 4px;
	top: 10%;
	transition: left 0.2s linear;
}

.on-off-switch:after {
	display: none;
}

.switch-active {
	border: 1px solid #4caf50;
}

.switch-active:before {
	background: #4caf50;
	left: calc(100% - 24px);
	transition: left 0.2s linear;
}

.switch-disable {
	border: 1px solid #cccccc !important;
}

.switch-disable:before {
	background: #cccccc;
}

.switch-status {
  display: inline-block;
  font-family: 'Roboto-Medium';
  position: relative;
  width: 70px;
}

.disabled * {
  color: rgba(128, 128, 128, 0.6) !important;
}

.disabled .on-off-switch {
  cursor: not-allowed !important;
}